// =========== COLORS =========== //
$title-bkgd: #F1F9F9;
$title-darkgray: #535D66;
$contact-icons-gray: #C5CDCD;
$mint: #28E2BB;
$mid-gradient: #28E2BB;
$light-blue: #00DEE6;

// =========== GRADIENTS =========== //
@mixin gradient($from, $to) {
    background-color: $to; // fallback
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to)); /* Safari 4-5, Chrome 1-9 */
    background: -webkit-linear-gradient(top, $from, $to); /* Safari 5.1, Chrome 10+ */
    background: -moz-linear-gradient(top, $from, $to); /* Firefox 3.6+ */
    background: -ms-linear-gradient(top, $from, $to); /* IE 10 */
    background: -o-linear-gradient(top, $from, $to); /* Opera 11.10+ */
    
    background-repeat: repeat-x;
}

// =========== GENERAL =========== //
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

section {
    height: 100%;
    width: 100%;
}

div {
    text-align: center;
    height: auto;
    
    &.wrapper {
        max-width: 80%; height: 100%;
        margin: 0 auto;
    }
}

h1 {
    font-family: 'montserrat', helvetica, sans-serif;
    line-height: 1.1em;
    font-size: 5.7em;
    font-weight: 300;
    margin: 0;
}

h2 {
    font-family: 'montserrat', helvetica, sans-serif;
    font-size: 3em;
    font-weight: 500;
    margin: 0;
}

h3 {
    font-family: 'lato', helvetica, sans-serif;
    font-weight: 400;
    margin: 0;
    font-size: 1.7em;
}

p {
    font-family: 'lato', helvetica, sans-serif;
    margin: 0;
    font-size: 1.5em;
}

span.green-text { color: $mint; }
span.blue-text { color: $light-blue; }

// ===================================== //
// =============== TITLE =============== //
// ===================================== //
section#title {
    background-color: $title-bkgd;
    color: $title-darkgray;
    
    div#title {
        display: inline-block;
        margin-bottom: 5%;
        
        h1 { position: relative; margin-bottom: -9%; z-index: 1; }
        img { 
            display: block;
            width: 118%; 
            margin-left: auto; margin-right: auto;
            position: relative;
            right: 9%;
            z-index: 0; 
        }
    }
    
    div#subtitle {
        margin: 2% 0 5% 0;
        i { margin: 0 10px; }
    }
    
    div#contact-icons {
        margin: 5% 0;
        text-align: center;
        
        ul {
            overflow: auto;
            margin: 0;
            margin-top: 1%;
            padding: 0; 
            
            li {
                list-style-type: none;
                display: inline;
                margin: 0 2%;
                
                a {
                    text-decoration: none;
                    color: $contact-icons-gray;
                    font-size: 1.5em;
                    
                    &:hover {
                        &#linkedin { color: $mint; }
                        &#github { color: $mid-gradient; }
                        &#email { color: $light-blue; }
                    }
                }
            }
        }
    }
    
    div.wrapper {
        position: relative;
    }
    
    div.content { // center text horizontally and vertically
        display: inline-block;
        position: absolute;
        margin: 0;
        top: 50%; left: 50%; // move top left coordinates to center of container
        margin-right: -50%; // compensates for left: 50% and keeps div's width at 100%
        transform: translate(-50%, -50%); // move back half the div's width and height
    }
}

// ================================ //
// =========== ABOUT ME =========== //
// ================================ //
section#about-me {
    background-color: $title-darkgray;
    color: white;
    text-align: center;
}