// =========== COLORS =========== //
$title-bkgd: #F1F9F9;
$title-darkgray: #535D66;
$contact-icons-gray: #C5CDCD;
$mint: #28E2BB;
$mid-gradient: #1FDCCD;
$light-blue: #00DEE6;

$darkgray-bkgd: #464F5A;
$about-me-green-text: #2BDFBF;
$about-me-teal-text: #1CD3E7;
$about-me-blue-text: #6AC0FA;

// =========== GRADIENTS =========== //
@mixin gradient($from, $to) {
    background-color: $to; // fallback
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to)); /* Safari 4-5, Chrome 1-9 */
    background: -webkit-linear-gradient(top, $from, $to); /* Safari 5.1, Chrome 10+ */
    background: -moz-linear-gradient(top, $from, $to); /* Firefox 3.6+ */
    background: -ms-linear-gradient(top, $from, $to); /* IE 10 */
    background: -o-linear-gradient(top, $from, $to); /* Opera 11.10+ */
    
    background-repeat: repeat-x;
}

// =========== GENERAL =========== //
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'lato', helvetica, sans-serif;
}

section {
    height: 100%;
    width: 100%;
}

div {
    text-align: center;
    height: auto;
    
    &.wrapper {
        max-width: 80%; height: 100%;
        margin: 0 auto;
        position: relative;
    }
    
    &.content { // center text horizontally and vertically
        display: inline-block;
        position: absolute;
        margin: 0;
        top: 50%; left: 50%; // move top left coordinates to center of container
        margin-right: -50%; // compensates for left: 50% and keeps div's width at 100%
        transform: translate(-50%, -50%); // move back half the div's width and height
    }
}

h1 {
    font-family: 'montserrat', helvetica, sans-serif;
    line-height: 1.1em;
    font-size: 5.9em;
    font-weight: 300;
    margin: 0;
}

h2 {
    font-family: 'montserrat', helvetica, sans-serif;
    font-size: 4em;
    font-weight: 500;
    margin: 0;
}

h3 {
    font-family: 'lato', helvetica, sans-serif;
    font-weight: 400;
    margin: 0;
    font-size: 2em;
}

h4 {
    font-family: 'lato', helvetica, sans-serif;
    font-weight: 400;
    margin: 0;
    font-size: 1.7em;
}

p {
    font-family: 'lato', helvetica, sans-serif;
    margin: 0;
    font-size: 1.5em;
}

span.green-text { color: $mint; }
span.blue-text { color: $light-blue; }

// ===================================== //
// =============== TITLE =============== //
// ===================================== //
section#title {
    background-color: $title-bkgd;
    color: $title-darkgray;
    
    div#title {
        display: inline-block;
        margin-bottom: 6%;
        
        h1 { position: relative; margin-bottom: -6%; z-index: 1; }
        img { 
            display: block;
            width: 118%; 
            margin-left: auto; margin-right: auto;
            position: relative;
            right: 9%;
            z-index: 0; 
        }
    }
    
    div#subtitle {
        margin: 2% 0 5% 0;
        i { margin: 0 10px; }
    }
    
    div#contact-icons {
        margin: 5% 0;
        text-align: center;
        
        ul {
            overflow: auto;
            margin: 0;
            margin-top: 1%;
            padding: 0; 
            
            li {
                list-style-type: none;
                display: inline;
                margin: 0 2%;
                
                a {
                    text-decoration: none;
                    color: $contact-icons-gray;
                    font-size: 1.5em;
                    
                    &:hover {
                        &#linkedin { color: $mint; }
                        &#github { color: $mid-gradient; }
                        &#email { color: $light-blue; }
                    }
                }
            }
        }
    }
}

// ================================ //
// =========== ABOUT ME =========== //
// ================================ //
section#about-me {
    background-color: $darkgray-bkgd;
    color: $title-bkgd;
    text-align: center;
    
    h2 { margin-bottom: 5%; }
    h4 { margin-bottom: 8%; }
    
    div#topics-container {
        width: 120%;
        margin-left: -10%; margin-right: -10%;
        display: flex;
        flex-flow: nowrap;
        height: 370px;
        
        div.panel {
            font-family: 'montserrat', helvetica, sans-serif;
            padding: 3% 0;
            font-size: 2em;
            width: 0;
//            text-transform: uppercase;
            flex-grow: 1;
            cursor: pointer;
            
            transition: color .2s;
            
            img { 
                padding-bottom: 10%; 
                transition: width .2s;
            }
            
            &:hover {
                img { width: 70%; }
            }
            
            &:nth-child(1) { 
                color: $about-me-green-text;
                &:hover { 
                    color: darken($about-me-green-text, 10%);  
                }
            }
            &:nth-child(2) { 
                color: $about-me-teal-text;
                &:hover { 
                    color: darken($about-me-teal-text, 10%);
                }
            }
            &:nth-child(3) { 
                color: $about-me-blue-text;
                &:hover { 
                    color: darken($about-me-blue-text, 10%);
                }
            }
        }
    }
}

// ================================ //
// =========== PROJECTS =========== //
// ================================ //
section#projects {    
    div#projects-intro {
        margin: 5% 0 3% 0;
    }
    
    div#projects-filter {
        button {
            display: inline-block;
            border-radius: 4px;
            background: lightgray;
            border: 0;
            padding: 5px 10px;
            cursor: pointer;
            
            font-family: 'lato', helvetica, sans-serif;
            font-size: 1em;
            
            &:hover {
                background: darken(lightgray, 20%);
            }
        }
        
        margin-bottom: 2%;
    }
    
    div#projects-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 10%;
        
        .mix {
            display: none;
            flex-grow: 1;
            width: 25%;
            background-color: cornflowerblue;
            margin: 1%;
            height: 230px;
        }
        
        .robotics { }
        .mobile-apps { }
        .web-design { }
    }
}