$welcome-aboard: #A5CCF1;
$welcome-aboard-dark: #445362;

// GENERAL //
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

section {
    height: 100%;
    width: 100%;
}

div {
    text-align: center;
    height: auto;
    
    &.wrapper {
        max-width: 80%; height: 100%;
        margin: 0 auto;
    }
}

h1 {
    font-family: 'myra_4f_capsbold', helvetica, sans-serif;
    font-size: 5em;
    margin: 0;
}

h2 {
    font-family: 'myra_4f_capsregular', helvetica, sans-serif;
    margin: 0;
    font-size: 2em;
}

p {
    font-family: 'myra_4f_capsregular', helvetica, sans-serif;
    margin: 0;
    font-size: 1.5em;
}

p.light {
    font-family: 'myra_4f_capslight', helvetica, sans-serif;
    margin: 0;
    font-size: 1.5em;
}

// WELCOME ABOARD //
section#welcome-aboard {
    background-color: $welcome-aboard;
    color: $welcome-aboard-dark;
    
    div.wrapper {
        position: relative;
    }
    
    div.content { // center text horizontally and vertically
        position: absolute;
        margin: 0;
        top: 50%; left: 50%; // move top left coordinates to center of container
        margin-right: -50%; // compensates for left: 50% and keeps div's width at 100%
        transform: translate(-50%, -50%); // move back half the div's width and height
        
        h1 {
            margin-bottom: 2%;
        }
    }
}