// =========== COLORS =========== //
$title-bkgd: #F1F9F9;
$title-darkgray: #535D66;
$contact-icons-gray: #C5CDCD;
$mint: #28E2BB;
$mid-gradient: #1FDCCD;
$light-blue: #00DEE6;

$darkgray-bkgd: #464F5A;
$about-me-green-text: #2BDFBF;
$about-me-teal-text: #1CD3E7;
$about-me-blue-text: #6AC0FA;

// =========== GENERAL =========== //
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'lato', helvetica, sans-serif;
}

section {
    height: 750px;
    width: 100%;
}

div {
    text-align: center;
    height: auto;
    
    &.wrapper {
        max-width: 80%; height: 100%;
        margin: 0 auto;
        position: relative;
    }
    
    &.content { // center text horizontally and vertically
        display: inline-block;
        position: absolute;
        margin: 0;
        top: 50%; left: 50%; // move top left coordinates to center of container
        margin-right: -50%; // compensates for left: 50% and keeps div's width at 100%
        transform: translate(-50%, -50%); // move back half the div's width and height
    }
}

h1 {
    font-family: 'lato', helvetica, sans-serif;
    line-height: .9em;
    font-size: 6.3em;
    font-weight: 600;
    margin: 0;
}

h2 {
    font-family: 'lato', helvetica, sans-serif;
    font-size: 4em;
    font-weight: 600;
    margin: 0;
}

h4 {
    font-family: 'lato', helvetica, sans-serif;
    font-weight: 400;
    margin: 0;
    font-size: 1.7em;
}

p {
    font-family: 'lato', helvetica, sans-serif;
    margin: 0;
    font-size: 1.5em;
}

span.green-text { color: $mint; }
span.blue-text { color: $light-blue; }

// ===================================== //
// =============== TITLE =============== //
// ===================================== //
section#title {
    background-color: $title-bkgd;
    color: $title-darkgray;
    
    div#title {
        display: inline-block;
        margin-bottom: 6%;
        
        h1 { position: relative; margin-bottom: 0%; z-index: 1; }
        img { 
            display: block;
            width: 118%; 
            margin-left: auto; margin-right: auto;
            position: relative;
            right: 9%;
            z-index: 0; 
        }
    }
    
    div#subtitle {
        margin: 2% 0 5% 0;
        i { margin: 0 10px; }
    }
    
    div#contact-icons {
        margin: 5% 0;
        text-align: center;
        
        ul {
            overflow: auto;
            margin: 0;
            margin-top: 1%;
            padding: 0; 
            
            li {
                list-style-type: none;
                display: inline;
                margin: 0 2%;
                
                a {
                    text-decoration: none;
                    color: $contact-icons-gray;
                    font-size: 1.5em;
                    
                    &:hover {
                        &#linkedin { color: $mint; }
                        &#github { color: $mid-gradient; }
                        &#email { color: $light-blue; }
                    }
                }
            }
        }
    }
}

// ================================ //
// =========== ABOUT ME =========== //
// ================================ //
section#about-me {
    background-color: $darkgray-bkgd;
    color: $title-bkgd;
    text-align: center;
    
    h2 { margin-bottom: 5%; }
    h4 { margin-bottom: 8%; }
    
    div#topics-container {
        width: 120%;
        margin-left: -10%; margin-right: -10%;
        display: flex;
        flex-flow: nowrap;
        height: 370px;
        
        div.panel {
            font-family: 'lato', helvetica, sans-serif; font-weight: 400;
            padding: 2% 0;
            font-size: 2em;
            width: 0;
            flex-grow: 1;
            cursor: pointer;
            
            transition: color .2s;
            
            img { 
                padding-bottom: 5%; 
                transition: width .2s;
            }
            
            &:hover {
                img { width: 70%; }
            }
            
            &:nth-child(1) { 
                color: $about-me-green-text;
                &:hover { 
                    color: darken($about-me-green-text, 10%);  
                }
            }
            &:nth-child(2) { 
                color: $about-me-teal-text;
                &:hover { 
                    color: darken($about-me-teal-text, 10%);
                }
            }
            &:nth-child(3) { 
                color: $about-me-blue-text;
                &:hover { 
                    color: darken($about-me-blue-text, 10%);
                }
            }
        }
    }
}

// ================================ //
// =========== PROJECTS =========== //
// ================================ //
section#projects {  
    min-height: 750px;
    color: $title-darkgray;
    div.wrapper { max-width: 90%; }
        
    div#projects-intro {
        margin: 5% 0 3% 0;
    }
    
    div#projects-filter {
        button {
            display: inline-block;
            border-radius: 4px;
            background: lightgray;
            border: 0;
            padding: 5px 10px;
            cursor: pointer;
            
            font-family: 'lato', helvetica, sans-serif;
            font-size: 1em;
            
            &:hover {
                background: darken(lightgray, 20%);
            }
        }
        
        margin-bottom: 2%;
    }
    
    div#projects-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        
        .mix {
            flex-grow: 0;
            background-repeat: no-repeat;
            margin: .5%;
            position: relative;
            overflow: hidden;
            
            width: 264px; height: 219px;
            transition: all 0.5s ease;
        }
        
        div.description {
            position: absolute;
            bottom: 0; left: 0;
            width: 100%; height: 100px;
        }
        
        h5 { 
            color: white; 
            font-family: 'lato', helvetica, sans-serif;
            font-weight: 500;
            margin: 4% 0;
            font-size: 1.3em;
        }
        
        h6 {
            color: white; 
            font-family: 'lato', helvetica, sans-serif;
            font-weight: 400;
            margin: 4% 10%;
            font-size: 1em;
        }
    }
}