/* line 31, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
body, html {
  height: 100%;
  font-family: "Nunito", helvetica, sans-serif;
  font-weight: 400; }
  @media screen and (min-width: 900px) and (max-width: 1150px) {
    /* line 31, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
    body, html {
      font-size: 85%; } }
  @media screen and (min-width: 1150px) and (max-width: 1440px) {
    /* line 31, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
    body, html {
      font-size: 90%; } }
  @media screen and (min-width: 1440px) {
    /* line 31, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
    body, html {
      font-size: 95%; } }

/* line 43, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
h1 {
  font-family: "Montserrat", helvetica, sans-serif;
  font-weight: 700;
  font-size: 4.8em; }

/* line 49, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
h2 {
  font-size: 2.5em;
  line-height: 1.4em; }

/* line 53, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
h3 {
  font-family: "Montserrat", helvetica, sans-serif;
  font-weight: 600;
  font-size: 2.9em;
  margin-top: 0;
  margin-bottom: 15px; }

/* line 60, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
h4 {
  font-size: 1.7em;
  font-style: italic;
  font-weight: 300; }

/* line 66, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
p {
  font-size: 1.4em;
  line-height: 1.5em; }

/* line 71, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
a {
  text-decoration: none;
  color: black; }
  /* line 73, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
  a:hover {
    text-decoration: none;
    color: black; }
  /* line 74, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
  a:visited {
    text-decoration: none;
    color: black; }
  /* line 75, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
  a:focus {
    text-decoration: none;
    color: black; }

/* line 78, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
a.button {
  font-family: "Montserrat", helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.1em;
  text-align: center;
  text-transform: uppercase;
  background: transparent;
  border: lightgray 4px solid;
  padding: 5px 12px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }
  /* line 94, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
  a.button:hover {
    border-color: #1DD2DA; }

/* line 99, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
div.row {
  height: 100vh; }

/* line 103, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
.hide-me {
  opacity: 0; }

/* line 104, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
.show-me {
  opacity: 1; }

@media screen and (min-width: 400px) and (max-width: 768px) {
  /* line 108, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
  div#intro-text, div#contact-row {
    text-align: center; } }

@media screen and (min-width: 768px) {
  /* line 108, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
  div#intro-text, div#contact-row {
    text-align: left; } }

/* line 113, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
div#intro-text h1, div#contact-row h1 {
  margin-bottom: .7em; }

/* line 114, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
div#intro-text h2, div#contact-row h2 {
  margin-bottom: 1em; }

/* line 116, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
div#intro-text p, div#contact-row p {
  font-size: 1.6em;
  line-height: 1.5em;
  margin-bottom: 3em; }

/* line 121, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
div#intro-text a.underline, div#contact-row a.underline {
  border-bottom: 3px solid lightgray;
  display: inline-block;
  position: relative; }
  /* line 126, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
  div#intro-text a.underline::before, div#contact-row a.underline::before {
    position: absolute;
    top: 0px;
    left: 0;
    overflow: hidden;
    max-width: 0;
    border-bottom: 3px solid #2ABCA4;
    content: attr(data-hover);
    -webkit-transition: max-width 0.3s;
    -moz-transition: max-width 0.3s;
    transition: max-width 0.3s;
    white-space: nowrap; }
  /* line 140, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
  div#intro-text a.underline:hover::before, div#contact-row a.underline:hover::before {
    max-width: 100%; }

/* line 143, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
div#intro-text a.button, div#contact-row a.button {
  font-size: 1.5em; }

/* line 148, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
div.modal .modal-title {
  font-family: "Nunito", helvetica, sans-serif;
  font-size: 1.8em;
  font-weight: 700; }

/* line 152, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
div.modal .modal-body p {
  font-size: 1.3em; }

@media screen and (min-width: 768px) {
  /* line 157, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
  #jump-modal .modal-dialog {
    width: 800px; } }

/* line 159, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
#jump-modal img {
  margin-bottom: 20px; }

/* line 163, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
ul#projects-menu {
  position: fixed;
  top: 0;
  left: 0;
  padding: 40px 8.333% 20px 0;
  margin-top: 0px;
  background-color: white;
  z-index: 70;
  display: flex;
  justify-content: space-between; }
  /* line 172, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
  ul#projects-menu li {
    list-style: none;
    display: inline-block;
    text-align: center; }
  /* line 178, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
  ul#projects-menu a {
    font-family: "Montserrat", helvetica, sans-serif;
    font-weight: 400;
    font-size: 1em;
    text-transform: uppercase; }
  /* line 185, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
  ul#projects-menu li.active a {
    font-weight: 700;
    color: #2ABCA4; }
  /* line 186, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
  ul#projects-menu a:hover {
    color: #2ABCA4; }

/* line 190, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
div.title {
  text-align: center;
  margin-bottom: 50px; }

/* line 196, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
div.content {
  text-align: center; }

/* line 197, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
div.content div {
  display: inline-block;
  vertical-align: middle;
  float: none; }

/* line 203, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
div.img {
  margin-right: 15px;
  max-width: 30%; }

/* line 204, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
img {
  height: 18.5em;
  width: auto; }

/* line 206, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
div.text {
  width: 30%;
  text-align: left;
  margin-left: 15px; }
  /* line 211, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
  div.text p {
    margin-bottom: 30px; }

/* line 214, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
div.buttons-block a.button {
  margin-right: 1em;
  display: inline-block; }

/* line 219, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
div.fp-controlArrow {
  border: none !important;
  width: 3em !important;
  height: 3em !important;
  background-size: contain;
  background-repeat: no-repeat; }

/* line 224, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
div.fp-prev {
  background-image: url(/img/prev.png);
  left: 8.333% !important; }

/* line 228, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
div.fp-next {
  background-image: url(/img/next.png);
  right: 8.333% !important; }

/* line 234, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
div.fp-slidesNav {
  margin-bottom: 20px; }
  /* line 237, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
  div.fp-slidesNav li {
    width: 1.5em;
    height: 1.5em; }
  /* line 238, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
  div.fp-slidesNav a {
    background-size: contain;
    background-repeat: no-repeat; }
  /* line 239, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
  div.fp-slidesNav span {
    display: none; }

/* line 244, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
#robots-row div.fp-slidesNav a {
  background-image: url("/img/dots-v2/robot.png"); }

/* line 245, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
#robots-row div.fp-slidesNav a.active {
  background-image: url("/img/dots-v2/robot-active.png"); }

/* line 246, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
#robots-row div.fp-slidesNav a:hover {
  background-image: url("/img/dots-v2/robot-active.png"); }

/* line 250, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
#mobile-row div.fp-slidesNav a {
  background-image: url("/img/dots-v2/mobile.png"); }

/* line 251, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
#mobile-row div.fp-slidesNav a.active {
  background-image: url("/img/dots-v2/mobile-active.png"); }

/* line 252, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
#mobile-row div.fp-slidesNav a:hover {
  background-image: url("/img/dots-v2/mobile-active.png"); }

/* line 256, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
#web-row div.fp-slidesNav a {
  background-image: url("/img/dots-v2/web.png"); }

/* line 257, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
#web-row div.fp-slidesNav a.active {
  background-image: url("/img/dots-v2/web-active.png"); }

/* line 258, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
#web-row div.fp-slidesNav a:hover {
  background-image: url("/img/dots-v2/web-active.png"); }

/* line 262, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
#design-row div.fp-slidesNav a {
  background-image: url("/img/dots-v2/design.png"); }

/* line 263, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
#design-row div.fp-slidesNav a.active {
  background-image: url("/img/dots-v2/design-active.png"); }

/* line 264, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
#design-row div.fp-slidesNav a:hover {
  background-image: url("/img/dots-v2/design-active.png"); }

/* line 268, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
#misc-row div.fp-slidesNav a {
  background-image: url("/img/dots-v2/misc.png"); }

/* line 269, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
#misc-row div.fp-slidesNav a.active {
  background-image: url("/img/dots-v2/misc-active.png"); }

/* line 270, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
#misc-row div.fp-slidesNav a:hover {
  background-image: url("/img/dots-v2/misc-active.png"); }

/* line 274, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
div.slide ol {
  padding-left: 20px;
  font-size: 1.4em;
  line-height: 1.5em;
  margin-bottom: 0; }
  /* line 279, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
  div.slide ol li {
    margin-bottom: 5px; }

/* line 282, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
div.slide ul {
  font-size: 1.4em;
  line-height: 1.5em; }

/* line 287, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
div#contact-row {
  text-align: center; }
  /* line 289, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
  div#contact-row h3 {
    margin-bottom: 30px; }
  /* line 290, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
  div#contact-row p {
    padding: 0 25%;
    margin-bottom: 50px; }
  /* line 291, /Users/clairehuang/Sites/personal-portfolio/scss/v2.scss */
  div#contact-row a.button {
    font-size: 1.3em; }

/*# sourceMappingURL=v2.css.map */